
@import 'shared.styles';

.booking {
    width: 1024px;
    max-width: 95vw;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(#000, .2), 0 1px 1px 0 rgba(#000, .14), 0 2px 1px -1px rgba(#000, .12);
    border-radius: 4px;
    margin: 1em auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    & > div {
        width: 100%;
    }
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
    padding: .25em 0;
    .heading {
        flex: 1;
        font-size: 1.5em;
        text-align: center;
    }

    .block {
        width: 8em;
    }
}

.body {
    padding: 1em;
    .error-info {
        font-size: .6em;
        color: $error;
        text-align: right;
        margin: -.25em 0 .5em;
        &.warn {
            color: $pending;
        }
    }

    &.edit {
        .field {
            pointer-events: auto;
            .display {
                border-bottom: 1px solid rgba(#000, .2);
            }
        }
    }
}

.field {
    display: flex;
    align-items: center;
    width: 100%;
    margin: .25em 0;
    pointer-events: none;
    .icon {
        height: 1em;
        width: 1em;
        margin: .25em;
        margin-right: 1em;
        font-size: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-primary;
    }
    .display {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(#000, 0);
        transition: border 300ms;
        flex: 1;
        width: 5em;
        cursor: pointer;
        .icon {
            color: $success;
            margin: .25em;
        }
    }
    &.focus {
        .display {
            border-color: $color-primary;
        }
    }
    &.error {
        .display {
            border-color: $error;
            .icon {
                color: $error;
            }
        }
    }
    &.warn {
        .display {
            border-color: $pending;
            .icon {
                color: $pending;
            }
        }
    }
}

.value {
    display: flex;
    align-items: center;
    flex: 1;
    width: 5em;
}

.text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    width: 5em;
}

.footer {
    border-top: 1px solid #f0f0f0;
    padding: .25em;
    width: 100%;
    text-align: center;
}

btn {

    .icon {
        height: 1em;
        width: 1em;
        margin-right: .25em;
    }
}
