
@import 'shared.styles';

.container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999;
    animation: fade-in .5s ease-out;
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 24em;
    width: 20em;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(#000,.2), 0 1px 1px 0 rgba(#000,.14), 0 2px 1px -1px rgba(#000,.12);
    border-radius: 4px;
    & > div {
        width: 100%;
    }
    @include respond-to(mobile) {
        height: 100%;
        width: 100vw;
    }
}

.header {
    display: flex;
    align-items: center;
    height: 2.4em;
    background-color: #f0f0f0;
    padding: 0 .8em;
    font-size: 1.25em;
}

.close {
    cursor: pointer;
    &:hover {
        opacity: .54;
    }
}

.body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50%;
    flex: 1;
    & > div {
        width: 100%;
    }
}

.current {
    padding: .5em 1em;
    border-bottom: 1px solid #f0f0f0;
}

.list {
    position: relative;
    flex: 1;
    height: 50%;
    overflow: auto;
}

.text {
    flex: 1;
}

.item {
    display: flex;
    align-items: center;
    padding: .5em 1em;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    &:hover {
        background-color: #f0f0f0;
        border-color: #fff;
    }
    .icon {
        color: $success;
    }
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    border-top: 1px solid #f0f0f0;
}
